/* --------------------- Main content styling --------------------- */
body {
  background-color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

hr {
  height: 10px;
  background-color: #0e1941;
}

p {
  font-size: 20px;
}

#body-header {
  text-align: left;
}

/* --------------------- Header and footer styling --------------------- */

header {
  font-family: "copperplate gothic bold", "copperplate gothic", arial;
  text-align: center;
  background-color: #0e1941;
  color: #aed6f1;
}

main {
  background-color: #aed6f1;
  color: #0e1941;
  font-family: "nunitoregular", "Rajdhani", "TT Norms Bold", georgia,
    "trebuchet ms", arial;
  padding: 0px;
  margin: 0px;
}

footer {
  color: #aed6f1;
  background-color: #0e1941;
  font-family: "nunitoregular", "Rajdhani", "TT Norms Bold", georgia,
    "trebuchet ms", arial;
}

/*----------------------- Navigation -------------------------------*/
nav {
  display: flex;
  flex: 1;
}

nav ul {
  font-size: 24px;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

/* --------------------- Link & Image Styling --------------------- */

a {
  margin: auto;
}

a:link {
  color: #aed6f1;
}
a:visited {
  color: #395daa;
}
a:hover {
  color: white;
}

img {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* --------------------- Form Styling --------------------- */

form label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: Helvetica, Arial;
}

form input {
  font-size: 16px;
  margin-bottom: 20px;
}

form textarea {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  width: 50%;
  height: 6.75rem;
}

form button {
  padding: 10px 16px;
  margin: 10px;
  background-color: #aed6f1;
  color: #395daa;
  border: 10px;
  border-radius: 10px;
}

/* --------------------- Class Styling --------------------- */

.card {
  height: 460px;
  width: auto;
  display: flex;
  flex-direction: column;
  border: 5px rgb(5, 5, 5) solid;
  padding: 0px 0px 10px 0px;
  margin: 50px 10px 50px 0px;
}

.card .header {
  height: 50px;
  background: #0e1941;
  color: white;
  text-align: center;
}

.button {
  background-color: #0e1941;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  border-radius: 25px;
}

.container {
  padding: 2px 16px;
  display: grid;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 1;
  margin: 20px;
}

.item-margin {
  margin: 0px 20px 20px 20px;
}

.align-center {
  text-align: center;
  list-style-position: inside;
}

/* --------------------- (Desktop) Groups & Items --------------------- */

@media all and (min-width: 1100px) {
  .group {
    flex-direction: row;
  }

  .item {
    flex: 3;
    margin: 10px;
  }

  .item-double {
    flex: 4;
    margin: 50px 50px 50px 50px;
  }

  .item-margin {
    margin: 0px 50px 50px 50px;
  }

  header {
    margin: 30px 30px;
  }

  nav ul {
    display: flex;
    padding-left: 100px;
    font-size: 22px;
  }

  main {
    margin: 0px 30px;
    padding: 0px 200px 0px 200px;
  }

  img {
    margin-bottom: 50px;
  }

  footer {
    margin: 30px 30px;
    padding: 0px 200px 0px 200px;
  }
}
